image: node:20

pipelines:
  branches:
    master:
      - step:
          name: Install and Build
          caches:
            - yarn
          script:
            - yarn install --frozen-lockfile
            - yarn build
            - yarn test
          artifacts:
            - dist/**
      - step:
          name: Deploy to S3
          deployment: production
          script:
            - pipe: atlassian/aws-s3-deploy:1.3.0
              variables:
                AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
                AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
                AWS_DEFAULT_REGION: ${AWS_REGION}
                S3_BUCKET: ${AWS_S3_BUCKET}
                LOCAL_PATH: "dist"
                DELETE_FLAG: "true"
                ACL: "public-read"
      - step:
          name: Invalidate CloudFront
          deployment: production
          script:
            - pipe: atlassian/aws-cloudfront-invalidate:0.3.0
              variables:
                AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
                AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
                DISTRIBUTION_ID: ${AWS_CLOUDFRONT_DISTRIBUTION_ID}
                PATHS: "/*"