@import "../../../../themes/vars.less";

.container {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 16%; /* explanation below */
  margin: 5px;
  height: 120px;

  text-align: center;
  padding: 1em 0;
  border-bottom: rgb(65, 65, 65);
  &:hover {
    // color: @primary-color
    background-color: @blue;
    color: #fff;
  }
}

.card {
  flex: 1 0 45%; /* explanation below */
  margin: 5px;
  height: 70px;

  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  border-bottom: rgb(65, 65, 65);
  &:hover {
    // color: @primary-color
    background-color: @blue;
    color: #fff;
  }
}

.spin {
  display: flex;
  justify-content: center;
}