@import "./vars.less";
body {
    height: 100%;
    overflow-y: hidden;
    background-color: #f8f8f8;
}

::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

:global {
    .wrapper-switcher {
        position: fixed;
        width: 92%;
        top: 100px;
        right: -92%; 
        height: 100%;
        left: inherit;   
        z-index: 1;
        -webkit-transition: all 0.8s cubic-bezier(0.215,0.61,0.355,1);
        transition: all 0.8s cubic-bezier(0.215,0.61,0.355,1);
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
            background-color: @lightgrey;
            color: #000;
        };
        // .ant-table .ant-table-thead > tr > th {
        //     background-color: #FF423C;
        //     color: #ffffff;
        // };
        // .ant-table .ant-table-tbody > tr > td {
        //     background-color: #FF4D49;
        //     color: #ffffff;
        // };
        // .ant-table-bordered.ant-table-fixed-header .ant-table-placeholder {
        //     background-color: #FF4D49;
        //     color: #ffffff;
        // };
        .ant-tabs-bar {
            margin-bottom: 0px;
        };
    }
    .wrapper-switcher.active {
        right: 0;
        left: inherit;
    }
    .reminder .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        background-color: @lightgrey;
        color: #000;
    }
    .reminder .ant-tabs-bar {
        margin-bottom: 0 !important;        
    }
    .reminder .service-reminders {
        background-color: @lightgrey;
        padding: 12px 8px;
    }
    .wrapper-switcher.active .service-reminders {
        background-color: @lightgrey;
    }
    .wrapper-switcher .service-reminders {
        padding: 12px 8px;
    }
    .service-reminders ::-webkit-scrollbar {
        width: 12px !important;
    }
    .service-reminders ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    .service-reminders ::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
    .wrapper-switcher .componentTitleWrapper,
    .reminder .componentTitleWrapper {
        background-color: @lightgrey;
        padding: 15px 15px;
        height: 50px;
    }
    .wrapper-switcher .componentTitleWrapper .componentTitle,
    .reminder .componentTitleWrapper .componentTitle{
        font-size: 21px;
        font-weight: 700;
        color: #000; 
        line-height: 1;
        width: 100%;
        text-align: center;
    }
    .wrapper-switcher .btn-switcher {
        background-color: @laserlemon;
        color: @charcoal; 
        width: 50px;
        font-size: 10px;
        height: 60px;
        border: 0;
        position: absolute;
        text-align: center;
        top: 32px;
        left: -50px;
        right: inherit;
        border-radius: 3px 0 0 3px;
    }
    .wrapper-switcher .btn-switcher i{
        margin-top: 7px;
        font-size: 18px;
    }
    .collapse-form-reminder {
        margin-bottom: 25px;
    }
    .ant-table-info .ant-table-tbody>tr>td {
            padding: 0 8px!important;
    }
    .ant-breadcrumb {
        &>span {
            &:last-child {
                color: #999;
                font-weight: normal;
            }
        }
    }
    .ant-breadcrumb-link {
        .anticon+span {
            margin-left: 4px;
        }
    }
    .ant-table {
        .ant-table-thead>tr>th {
            text-align: center;
            padding: 4px 8px;
            &.ant-table-selection-column {
                min-width: 32px;
                width: 32px;
            }
        }
        .ant-table-tbody>tr>td {
            //text-align: center;
            padding: 4px 8px;
            &.ant-table-selection-column {
                min-width: 32px;
                width: 32px;
            }
        }
        &.ant-table-small {
            .ant-table-thead>tr>th {
                background: #f7f7f7;
                font-size: larger
            }
            .ant-table-body>table {
                padding: 0;
            }
        }
    }
    .ant-table-pagination {
        float: none!important;
        display: table;
        margin: 16px auto !important;
    }
    .ant-popover-inner {
        border: none;
        border-radius: 0;
        box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
    }
    .vertical-center-modal {
        display: -webkit-box;
        align-items: center;
        justify-content: center;
        top: 0;
        .ant-modal {
            .ant-modal-body {
                max-height: 80vh;
                overflow-y: auto;
            }
        }
    }
    .ant-card-head {
        padding-left: 10px;
        padding-right: 10px;
    }
    .ant-card-body {
        padding: 15px;
    }
    .ant-form-item {
        margin-bottom: 8px;
    }
    .ant-form-item-control {
        vertical-align: middle;
        height: auto;
        min-height: 32px;
        height: auto !important;
        /* for IE as it does not support min-height */
        height: 32px;
    }
    .ant-form-item-margin-bottom {
        margin-bottom: 5px;
    }
    .ant-select-selection--multiple {
        white-space: nowrap;
        height: 32px;
        min-height: 32px;
        max-height: 55px;
        overflow: scroll;
    }
    .select-multiple-brand .ant-select-selection--multiple{
        white-space: nowrap;
        height: 63px;
        min-height: 63px;
        max-height: 63px;
        overflow: scroll;
    }
    .ant-form-item-label-float-left label {
        float: left
    }
    .ant-form-save-width-half {
        width: 30%;
        float: right
    }
    .ant-modal-mask {
        background-color: rgba(55, 55, 55, 0.2);
    }
    .ant-modal-content {
        box-shadow: none;
    } //boo-20171111
    //.ant-card {
    //  &:hover {
    //    overflow: auto;
    //  }
    //}
    //boo-20170621
    //.ant-pagination-item {
    //  margin-bottom: 8px;
    //}
    .ant-select-dropdown-menu-item {
        padding: 12px 16px !important;
    }
    .margin-right {
        margin-right: 16px;
    }
    .margin-bottom {
        margin-bottom: 16px;
    }
    .button-width01 {
        margin-right: 16px;
        margin-bottom: 8px;
        width: 120px;
    }
    .button-width02 {
        margin-right: 8px;
        margin-bottom: 8px;
    }
    .button-extra-large {
        width: 47px;
        height: 47px;
    }
    .icon-large {
        font-size: 24px;
        margin-left: -4px
    }
    .bgcolor-lightskyblue {
        background-color: @lightskyblue;
    }
    .bgcolor-green {
        background-color: @green;
    }
    .bgcolor-red {
        background-color: @red;
    }
    .bgcolor-blue {
        background-color: @blue;
    }
    .bgcolor-lightgrey {
        background-color: @lightgrey;
    }
    .dynamic-delete-button {
        cursor: pointer;
        position: relative;
        top: 4px;
        font-size: 24px;
        color: #999;
        transition: all .3s;
    }
    .dynamic-delete-button:hover {
        color: #777;
    }
    .dynamic-delete-button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
    .bgcolor-transparent {
        background-color: transparent;
    }
    a:focus {
        text-decoration: none;
    }
}

@media (min-width: 1600px) {
     :global {
        .ant-col-xl-48 {
            width: 20%;
        }
        .ant-col-xl-96 {
            width: 40%;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1024px) {
    :global {
        .wrapper-switcher {
            width: 90%;
            right: -90%;
        }
    }
}

@media (max-width: 767px) {
     :global {
        .wrapper-switcher {
            width: 85%;
            right: -85%;
        }
        .ant-card {
            .ant-card-head {
                padding: 0 12px;
            }
            .ant-card-body {
                padding: 0;
                margin: 0;
            }
        }
        .collapse-form-reminder {
            margin-top: 90px;
        }
    }
}